<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598625177073-i184naide7ugkamtk5e32ss6vr0h2fjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598625177073-i184naide7ugkamtk5e32ss6vr0h2fjt</string>
	<key>API_KEY</key>
	<string>AIzaSyC-X1lFlTcZvIJnq0al7zuyrz7bUe23ly4</string>
	<key>GCM_SENDER_ID</key>
	<string>598625177073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.zenga.tapbreak</string>
	<key>PROJECT_ID</key>
	<string>tap-break</string>
	<key>STORAGE_BUCKET</key>
	<string>tap-break.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598625177073:ios:0b7627b5933e77e54cc850</string>
	<key>DATABASE_URL</key>
	<string>https://tap-break.firebaseio.com</string>
</dict>
</plist>